<header>
	<div class="header-left">
		<a href="#" class="add_project_icon">+</a>
		<span class="add_project_legend">Créer un projet</span>
	</div>
	<div class="header_middle">
		<a href="{{ path('home')}}">
			<div class="logo">
				&lt;<span class="logo_name">CodeWithMe</span>/&gt;
			</div>
		</a>
		<nav>
			<ul>
				<a href="#" class="nav_link">
					<li>Accueil</li>
				</a>
				<a href="#" class="nav_link">
					<li>Projets</li>
				</a>
				<a href="#" class="nav_link">
					<li>Utilisateurs</li>
				</a>
				<a href="#" class="nav_link">
					<li>A propos</li>
				</a>
				<a href="#" class="nav_link">
					<li>Contact</li>
				</a>
			</ul>
		</nav>
	</div>
	<div class="header_right">
		<div class="header_auth">
			<a href="#" class="header_auth_button">Connexion</a>
			<a href="#" class="header_auth_button">Inscription</a>
		</div>
		<form class="header_search" action="">
			<input class="header_search_input" type="text" placeholder="Rechercher.." name="search">
			<button class="header_search_button" type="submit">
				<i class="fa fa-search"></i>
			</button>
		</form>
	</div>
</header>
